/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #141416;
  
}

a {
  text-decoration: none;
  color: #0a0908;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

/*
  Social Links
*/

.social-other ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-other ul li {
  display: inline-block;
  margin-right: 2px; /* Adjust as needed */
}

.social-other ul li:last-child {
  margin-right: 0;
}

.social-other ul li a {
  font-size: 18px;
  display: inline-block;
  background: #9AE17B;
  color: #141416;
  line-height: 40px; /* Center vertically */
  padding: 0; /* Remove padding */
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.social-other ul li a i {
  line-height: 40px; /* Center vertically */
}

.social-other ul li a:hover {
  background: #fff;
  color: #0a0908;
  text-decoration: none;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satisfy", sans-serif;
}


h3 {
  font-weight: 600;
  font-size: 50px;
}

p {
  color: #fff;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0a0908;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #9AE17B;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  padding: 0;
  font-size: 15px;
  height: 50px;
  transition: all 0.5s;
  background: rgba(26, 24, 22, 0.8);
  z-index: 996;
  color: rgba(255, 255, 255, 0.7);
}

#topbar.topbar-transparent {
  background: transparent;
}

#topbar.topbar-scrolled {
  top: -50px;
}

#topbar i {
  color: #F4A949;
  line-height: 0;
}

#topbar i span {
  color: #fff;
  font-style: normal;
  padding-left: 5px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  top: 50px;
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  background: rgba(26, 24, 22, 0.85);
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  top: 0;
  background: rgba(26, 24, 22, 0.85);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #9AE17B;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;

}

#header .logo img {
  padding: 0;
  margin: 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 28px;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 24px;
  font-size: 15px;
  font-weight: 500;
  color: #9AE17B;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar ul {
  font-size: 32px; /* Adjust the font size as needed */
}

.navbar a {
  padding: 10px 0 10px 24px;
  font-size: 22px; /* Adjust the font size as needed */
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #9AE17B;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(39, 37, 34, 0.9);
  transition: 0.3s;
  z-index: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #0a0908;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #783F8E;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #9AE07B;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #F4A949;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; /* Ensure the image does not overflow the section */
}

#hero img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire area */
}


/*---------------------------------
  video section
---------------------------------*/

.video {
  position: relative;
  height: 250px; /* 100% of the viewport height */
  width: 100%; /* 100% of the viewport width */
  overflow: hidden; /* Hide overflow content */
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the video element */
  object-position: center; /* Center the video element */
}


/*--------------------------------------------------------------
#About
--------------------------------------------------------------*/
#about h2 {
  font-family: 'Oswald', sans-serif;
  color: #F4A949;
  font-size: 35px;
}

#about h5 {
  color: #9226A4;
  font-size: 20px;
}

#about h6 {
  color: #9AE17B;
  font-size: 23px;
}

#about p {
  color: #fff;
}
/*--------------------------------------------------------------
# Work Experience
--------------------------------------------------------------*/

#work h1{
  font-family: 'Oswald', sans-serif;
  color: #F4A949;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
}

#work h3 {
  font-size: 2em;
  font-weight: 700;
}

#work p {
  font-size: 1em;
  line-height: 1.7;
  font-weight: 300;
  color: #fff
}

#work .description {
  white-space: wrap;
}

#work a {
  text-decoration: none;
  color: inherit;
}

#work .description {
  white-space: wrap;
}

#work .wrap {
  display: flex;
  justify: space-between;
  align-items: stretch;
  width: 100%;
  gap: 24px;
  padding: 24px;
  flex-wrap: wrap;
}

#work .box {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  padding: 24px;
  background: #F4A949;
}

#work .box-top {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  margin-bottom: 36px;
}

#work .box-image {
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: 50% 20%;
}

#work .title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#work .box-title {
  border-left: 3px solid var(--purple);
}

#work .user-follow-info {
  color: #323330;
  font-size: 1.3em;
}

#work .button {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 16px;
  color: #9226A4;
  background: transparent;
  box-shadow: 0px 0px 0px 1px black inset;
  transition: background 0.4s ease;
}

#work .button:hover {
  background: var(--purple);
}

#work .fill-one {
  background: var(--light-bg);
}

#work .fill-two {
  background: var(--pink);
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
  #work .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  #work .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 460px) {
  #work .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  #work .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 640px) {
  #work .box {
    flex-basis: calc(50% - 12px);
  }
  #work .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 840px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1024px) {
  .box {
    flex-basis: calc(33.3% - 16px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1100px) {
  .box {
    flex-basis: calc(25% - 18px);
  }
}


/*----------------------------------------------
#Contact
----------------------------------------------*/
#contact {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#contact h1{
  font-family: 'Oswald', sans-serif;
  color: #F4A949;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
}
/* Adjust video size for smaller screens */
@media (max-width: 768px) {
  #contact .video-bg {
      object-fit: contain;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #9AE17B;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer span {
  color: #9AE17B;
}

#footer span:hover {
  color: #fff;
}

#footer .copyright {
  margin: 0 0 5px 0;
}
